*.a
*.egg-info
*.log
*.o
*.pc
*.so
*.wasm
/target/
build
dist
example*
node_modules
src/grammar.json
src/node-types.json
src/parser.c
src/tree_sitter/

# Emacs
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
