name: Publish packages

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  id-token: write
  attestations: write

jobs:
  github:
    uses: tree-sitter/workflows/.github/workflows/release.yml@main
  npm:
    uses: tree-sitter/workflows/.github/workflows/package-npm.yml@main
    with:
      package-name: "@potassco/tree-sitter-clingo"
      environment-name: npm
    secrets:
      NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
  crates:
    uses: tree-sitter/workflows/.github/workflows/package-crates.yml@main
    secrets:
      CARGO_REGISTRY_TOKEN: ${{secrets.CARGO_REGISTRY_TOKEN}}
  pypi:
    uses: tree-sitter/workflows/.github/workflows/package-pypi.yml@main
    secrets:
      PYPI_API_TOKEN: ${{secrets.PYPI_API_TOKEN}}
